/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

.page .entry-header,
.archive .page-title {
    margin: 3rem 0 2.5rem 0;
}

.page {
    h2 {
        margin: $base__space-unit 0;
    }
    ul {
        padding: 0;
        margin: 0 0 $base__space-unit 0;
        li {
            display: inline;
            margin-right: 1rem;
            line-height: 2;
        }
    }
}

/* Submit a Quote Page */
